ion-badge.a {
  background: #00ff00;
}

ion-badge.b {
  background: #ffff00;
}

ion-badge.c {
  background: #ff6701;
}

ion-badge.d {
  background: #ff0180;
}

ion-badge.e {
  background: #ff0000;
}

ion-badge.low, ion-badge.additive-danger-1 {
  background: #60f000;
}

ion-badge.moderate, ion-badge.additive-danger-2 {
  background: #ffcc01;
}

ion-badge.additive-danger-3 {
  background: #ff7d00;
}

ion-badge.high, ion-badge.additive-danger-4 {
  background: #f00000;
}

ion-badge.additive-danger-5 {
  background: #990000;
}

.product-image-container {
  height: 40vh;
  overflow: hidden;

  img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

ion-col {
  padding: 0;
  margin-bottom: -10px !important;
}

.idcard-icon {
  font-size: 2.5rem;
  color: green;
}

.idcard-icon.probably {
  color: orange;
}

.idcard-icon.present {
  color: red;
}

@media screen and (min-width: $grid-responsive-md-break) {
  .product-idcard {
    position: fixed;
  }
}
