<ion-header>
  <ion-navbar>
    <ion-title>{{product.product_name || product.code}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card-title>Carractéristiques</ion-card-title>
      <ion-list no-lines>
        <ion-item (click)="showScoreInfo()">
          <ion-icon name="speedometer" item-left></ion-icon>
          <h2>Score nutritionnel</h2>
          <ion-badge item-right class={{product.nutrition_grades}}>&#160;{{product.nutrition_grades || "?"}}&#160;</ion-badge>
        </ion-item>
        <ion-item *ngFor="let nutrient of getNutrients()">
          <ion-icon name="illegal" item-left></ion-icon>
          <p>{{nutrients[nutrient] || nutrient}}</p>
          <ion-badge class="{{product.nutrient_levels[nutrient]}}" item-right>&#160;&#160;&#160;</ion-badge>
        </ion-item>
      </ion-list>
      <ion-item>
        <ion-icon name="locate" item-left></ion-icon>
        <h2>Traces</h2>
        <p>{{product.traces}}</p>
      </ion-item>
      <ion-item>
        <ion-icon name="flask" item-left></ion-icon>
        <h2>Additifs</h2>
        <ion-icon name="help" item-right (click)="showAdditiveInfo()"></ion-icon>
      </ion-item>
      <ion-item *ngFor="let additive of product.additives_tags">
        <ion-icon name="illegal" item-left></ion-icon>
        <b>{{additives[additive]?.code}}</b>
        <p>{{additives[additive]?.name}}</p>
        <ion-badge class="additive-danger-{{additives[additive]?.danger || 0}}" item-right>&#160;{{additives[additive]?.danger}}&#160;</ion-badge>
      </ion-item>

    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-card-title>Ingrédients</ion-card-title>
      <b>{{product.generic_name || product.product_name || product.code}}</b> <br>
      {{product.ingredients_text}}
    </ion-card-content>
  </ion-card>
</ion-content>
