ion-badge.a {
  background: #00ff00;
}

ion-badge.b {
  background: #ffff00;
}

ion-badge.c {
  background: #ff6701;
}

ion-badge.d {
  background: #ff0180;
}

ion-badge.e {
  background: #ff0000;
}

ion-badge.low {
  background: #60f000;
}

ion-badge.moderate {
  background: #ffcc01;
}

ion-badge.high {
  background: #f00000;
}
