<ion-header>
 <ion-navbar>
   <ion-toolbar>
    <ion-title>{{product.product_name || product.code}}</ion-title>
    <ion-buttons end>
      <button (click)="openPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
 </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row responsive-md>
      <ion-col width-33 class="product-idcard">
        <ion-card>
          <div class="product-image-container">
            <img src="{{product.image_front_url}}"/>
          </div>
          <ion-card-content>
            <ion-card-title>
              {{product.product_name || product.code}}
            </ion-card-title>
            <ion-icon class="icon-palm_oil"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col width-67 offset-33>
        <ion-card>
          <ion-card-content>
            <ion-card-title>Carractéristiques</ion-card-title>
            <ion-list no-lines>
              <ion-item (click)="showScoreInfo($event)">
                <ion-icon name="speedometer" item-left></ion-icon>
                <h2>Score nutritionnel</h2>
                <ion-badge item-right class={{product.nutrition_grades}}>&#160;{{product.nutrition_grades ||
                  "?"}}&#160;</ion-badge>
              </ion-item>
              <ion-item *ngFor="let nutrient of getNutrients()">
                <ion-icon name="illegal" item-left></ion-icon>
                <p>{{nutrients[nutrient] || nutrient}}</p>
                <ion-badge class="{{product.nutrient_levels[nutrient]}}" item-right>&#160;&#160;&#160;</ion-badge>
              </ion-item>
            </ion-list>
            <ion-item *ngIf="product.traces">
              <ion-icon name="locate" item-left></ion-icon>
              <h2>Traces</h2>
              <p>{{product.traces}}</p>
            </ion-item>
            <ion-item *ngIf="product.additives">
              <ion-icon name="flask" item-left></ion-icon>
              <h2>Additifs</h2>
              <ion-icon name="help" item-right (click)="showAdditiveInfo($event)"></ion-icon>
            </ion-item>
            <ion-item *ngFor="let additive of product.additives_tags">
              <ion-icon name="illegal" item-left></ion-icon>
              <b>{{additives[additive]?.code}}</b>
              <p>{{additives[additive]?.name}}</p>
              <ion-badge class="additive-danger-{{additives[additive]?.danger || 0}}" item-right>&#160;{{additives[additive]?.danger}}&#160;</ion-badge>
            </ion-item>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
            <ion-card-title>Ingrédients</ion-card-title>
            <b>{{product.generic_name || product.product_name || product.code}}</b> <br>
            <p [innerHTML]="parseIngredients(product.ingredients_text)"></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
