<ion-header>
  <ion-navbar>
    <ion-title>Accueil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home">

  <ion-card>
    <ion-card-header>
      Rechercher un produit
    </ion-card-header>
    <ion-card-content>
      <ion-list inset>
        <ion-item>
          <ion-label floating>Code produit</ion-label>
          <ion-input [(ngModel)]="productCode" type="text"></ion-input>
        </ion-item>
      </ion-list>
      <div class="padding">
        <button block (click)="getProduct()">Rechercher</button>
      </div>
      <ion-card *ngIf="foundProduct" (click)="viewProductDetails(foundProduct)">
        <ion-card-header>
          {{foundProduct.product_name}}
        </ion-card-header>
        <ion-card-content>
          {{foundProduct.ingredients_text}}
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Rechercher par catégorie
    </ion-card-header>
    <ion-card-content>
      <ion-list inset>
        <ion-item>
          <ion-label floating>Catégorie</ion-label>
          <ion-input [(ngModel)]="categoryName" (keyup)="getCategories()" type="text"></ion-input>
        </ion-item>
      </ion-list>
      <div class="padding">
        <ion-list>
          <ion-item *ngFor="let category of foundCategories" (click)="viewCategoryProducts(category)">
            {{category}}
          </ion-item>
        </ion-list>
      </div>
      </ion-card-content>
    </ion-card>
</ion-content>
